
.form-control{
  border-left: 5px solid green;
  }  
.form-group{
  font-size:1.4em;}
  
#nameEdit{
 display:none;
 }
 #headEdit{
 display:none;
 }
 #headAdd{
 display:inline;
 }
 #login{
	display:none;
}	
#logout{
	display:inline;
}
#cardViewTab
{
	background:#E6E6E6;
}