#orders
  {
  	padding: 0.5%;
  }
  	
	h4, .formcontrol{
  		float: left;
  	}
  	
	th,tr,td{
  		width: 20%;
  	}
  	
	.custName{
  		color:#027ff4;
  		font-weight:bold;
  	}
	
#ordersTab
{
	background-color: white;
	border-radius:4px;
	color:black;
}

#login{
	display:none;
}	
#logout{
	display:inline;
}
#searchFirstName{
margin-right:170px;
}