
	<div class="content">
		<p class="icon"><span class="glyphicon glyphicon-info-sign"></span> About</p>
		<p id="para">Created by:<span class="creaters"><a href="#/customers/cardView">Abhilash</a><a href="#/customers/cardView"> Himanshu </a><a href="#/customers/cardView"> Atul </a><a href="#/customers/cardView"> Sakshi </a><a href="#/customers/cardView">Prachi</a></span></p>
		<p id="para">Blog:<span class="creaters"><a href="#/customers/cardView">some@address</a></p>
		<p id="para">GitHub:<span class="creaters"><a href="#/customers/cardView">some@address</a></p>
		<p id="para">Training:<span class="creaters"><a href="#/customers/cardView">some@address</a></p>
	</div>
	